button {
  all: unset;
}

.checkboxContainer {
  cursor: pointer;
  display: flex;
  align-items: center;

  .checkboxRoot {
    .checkboxIndicator {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 18px;
      height: 18px;

      color: var(--color-dark-900);

      background-color: var(--color-light-100);
      border-radius: 2px;

      &:disabled {
        color: var(--color-light-700);
        background-color: var(--color-dark-100);
      }
    }

    //&:focus {
    //  background-color: var(--color-dark-100);
    //}

    &:disabled {
      color: var(--color-light-700);
      background-color: var(--color-dark-100);
    }
  }

  .label {

  }
}
