button {
  all: unset;
}

.container {
  .label {
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;


    &.disabled {
      cursor: context-menu;
      color: var(--color-dark-100);
    }

    .buttonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      width: 32px;
      height: 32px;
      margin-right: 8px;

      color: var(--color-dark-900);

      border-radius: 50%;


      .root {
        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        width: 18px;
        height: 18px;


        background-color: var(--color-light-100);
        border-radius: 2px;

        &[data-state = 'unchecked'] {
          background-color: var(--color-dark-900);
          border: 2px solid var(--color-light-900);
        }

        &[data-state = 'unchecked']:disabled {
          border: 2px solid var(--color-dark-100);
        }

        &[data-state = 'checked']:disabled {
          color: var(--color-light-700);
          background-color: var(--color-dark-100);
        }

        &:focus-visible {
          outline: 2px solid var(--color-info-700);
        }

        .indicator {
          display: flex;
          align-items: center;
          justify-content: center;

          box-sizing: border-box;
          min-width: 18px;
          height: 18px;
        }
      }
    }

    &:hover:not(.disabled) .buttonWrapper {
      background-color: var(--color-dark-500);

      .root[data-state='unchecked'] {
        background-color: var(--color-dark-500);
      }
    }

    &:active:not(.disabled) .buttonWrapper {
      background-color: var(--color-dark-100);

      .root[data-state='unchecked'] {
        background-color: var(--color-dark-100);
      }
    }
  }
}

