.container {
  display: flex;
  gap: 12px;
  align-items: center;

  /* create 100% */
  width: 300px;

  .value {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    border: 1px solid var(--color-dark-300);
  }

  .root{
    touch-action: none;
    user-select: none;

    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    height: 16px;

    .track{
      position: relative;

      flex-grow: 1;

      width: 100%;
      height: 4px;

      background-color: var(--color-accent-900);
      border-radius: 999px;

      .range{
        position: absolute;
        height: 100%;
        background-color: var(--color-accent-500);
        border-radius: 999px;
      }
    }

    .thumb{
      touch-action: pan-x;
      cursor: pointer;

      display: block;

      width: 16px;
      height: 16px;

      background-color: var(--color-light-100);
      border: 4px solid var(--color-accent-500);
      border-radius: 999px;

      transition: transform 0.2s ease-in-out;

      &:focus-visible{
        outline: 2px solid var(--color-info-700);
      }
    }
  }
}