@import '../../../styles/colors';

@mixin button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;
  padding: 0.375rem 1.75rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  background-color: transparent;
  border-radius: 0.24rem;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }


}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px rgb(140 97 255 / 35%);

  &:hover:enabled {
    background-color: var(--color-accent-300);
  }

  &:active:enabled {
    background-color: var(--color-accent-700);
  }
}

.secondary {
  @include button;

  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-500);
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);

  &:hover:enabled {
    background-color: var(--color-dark-500);
  }

  &:active:enabled {
    background-color: var(--color-accent-900);
  }

}

.link {
  @include button;

  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-accent-500);

  &:hover:enabled {
    color: var(--color-accent-300);
  }

  &:active:enabled {
    color: var(--color-accent-700)
  }
}

.fullWidth {
  width: 100%;
}


